<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54564312916-26862brjloolnac543c5teue653dqb66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54564312916-26862brjloolnac543c5teue653dqb66</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54564312916-unt1f8iurlifujsrgjv1f78ls6r5eota.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSdcy0rVyXfFrYtd9WgyI9RCDa1AFJKr8</string>
	<key>GCM_SENDER_ID</key>
	<string>54564312916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uselessapp</string>
	<key>PROJECT_ID</key>
	<string>useless-app-3fb19</string>
	<key>STORAGE_BUCKET</key>
	<string>useless-app-3fb19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54564312916:ios:799e271092472e91</string>
	<key>DATABASE_URL</key>
	<string>https://useless-app-3fb19.firebaseio.com</string>
</dict>
</plist>